# =========================
# PERFILES NAVEGADORES
# =========================

perfil/
perfiles/
profile/
profiles/

# Chrome
**/Default/
**/Profile*/
**/Guest Profile/

# Firefox
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal

# =========================
# CACHE
# =========================

**/Cache/
**/Code Cache/
**/GPUCache/
**/Service Worker/
**/ShaderCache/

# =========================
# COOKIES / SESIONES
# =========================

**/Cookies
**/Cookies-journal
**/Network/
**/Sessions/
**/Session Storage/

# =========================
# LOCAL STORAGE
# =========================

**/Local Storage/
**/IndexedDB/

# =========================
# LOGS
# =========================

*.log

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo

# =========================
# VENV
# =========================

venv/
.env/
.env

# =========================
# SELENIUMBASE
# =========================

downloaded_files/
latest_logs/
visual_baseline/

# =========================
# CHROME TEMP FILES
# =========================

DevToolsActivePort
First Run
Last Browser
Last Version
Local State
Variations